body {

    background-color: #f4f6f0;
}

h1 {
    color: #2E5A44;
    font: size 40xp;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px
}

h2 {
    color: #4A7C59;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;


}

h3 {
    color: #8C6239;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;






}

h4 {
    color: #3B5998;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;







}